.recipes-box {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  padding: 1em;
  width: 90%;
  color: #555555;
  background-color: lemonchiffon;
  box-shadow: 0 0 20px 20px lemonchiffon;
}

.recipe-new-image{
  height: 250px;
}

.title {
  height: 50px;
  width: 400px;
}

.ingredient {
  height: 400px;
  width: 400px;
  resize: none;
}

.explanation {
  height: 400px;
  width: 400px;
  resize: none;
}

.time-required-select{
  height: 50px;
  width: 230px;
}

.number-of-people-select{
  height: 50px;
  width: 230px;
}

.category-select{
  height: 50px;
  width: 230px;
}

.btn {
  width: 200px;
  margin: 10px;
  padding: 15px;
  border: 1px solid white;
  background-color: orange;
  color: white;
}
